# password-storing files
*Pass.js

# node_modules
node_modules

# Demos/tests
*-demo

# huge package file
package-lock.json

# files/directories labeled "ignore" or "debug"
*-ignore*
*-debug.log

# Builds stored in public/bin or client/builds directories
*server/public/bin*
*client/builds*

# Large data files
*.dat
